*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 96%;
}
.card-area-start{
    background-color: white;
    padding: 50px 0 50px 0;
}
.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.box{
    background-color: white;
    border: 5px;
    padding: 40px;
    border-radius: 15px solid;
}

.box img{
    width: 200px;
    height: 230px;
}

    
@media screen  and (max-width:1024) {
    
    .card{
        grid-template-columns: repeat(4, 1fr);
    }
} 
@media screen  and (max-width:868) {
    
    .card{
        grid-template-columns: repeat(3, 1fr);
    }
} 

@media screen  and (max-width:768) {
    
    .card{
        grid-template-columns: repeat(2, 1fr);
    }
} 
@media screen  and (max-width:668) {
    
    .card{
        grid-template-columns: repeat(1, 1fr);
    }
} 



